#form {
    width: 100%;

}

#form label {
    font: var(--style-font-text-second);
    color: #828282;
}

.classConten {
    display: grid;
    grid-template-columns: 1fr .3fr;
    width: 350px;
    background-color: var(--background-color);
    border-radius: 12px;
    height: 57px;
}

.classConten input {
    border: none;
    background-color: transparent;
    font: var(--style-font-text-second);
    color: var(--color-text);
    padding: 0;
    margin: .3rem;
}

.classConten input:focus {
    outline: none;
}

.classConten button {
    background-color: var(--background-color-second);
    border: none;
    border-radius: 12px;
    color: var(--color-text);
    font: normal 500 14px/21px var(--font-secundario);
    padding: 0;
    margin: .4rem;
    cursor: pointer;
}

@media screen and (max-width: 900px){
    .classConten {
        grid-template-columns: 1fr .4fr;
        width: 291px;
    }

    .classConten button {
        margin: .3rem;
    }

}