
.navegation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 6rem;
}

.title {
    font: normal 800 30px/53px var(--font-principal);
    color: var(--color-text);
}


.linksNavegation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    font: normal 500 20px/36px var(--font-secundario);
}

.linksNavegation li {
    list-style: none;
}

.linksNavegation li a {
    text-decoration: none;
    color: var(--color-text);
}

.icon {
    display: none;
}

@media screen and (max-width: 900px) {
   .linksNavegation {
        justify-content: space-evenly;
        background-color: #2D9CDB;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 40vw;
        height: 100vh;
        z-index: 998;
        transition: transform 0.5s ease-in-out;
        transform: translateX(100%);
    }

    .is-actives {
        transform: translateX(0);
    }

    .icon {
        display: block;
        z-index: 999;
    }
}
    